.googleSigninBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 15px 3px 3px;
  padding-right: 15px;
  border: none;
  background: #4185f4;
  color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  cursor: pointer;
}

.googleWrapper {
  background: white;
  height: 50px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  border-radius: 10px 0 0 10px;
}

.googleImg {
  height: 30px;
  width: 30px;
}

.requerd {
  color: red;
}